In [1]:
#Write a function that takes an integer minutes and converts it to seconds.

In [2]:
def minToSec(i):
    s = 60 * i
    print(s)

In [3]:
minToSec(5)

300

In [4]:
#Create a function that takes two numbers as arguments and return their sum

In [5]:
def addition(a, b):
    print(a + b)

In [6]:
addition(3, 2)

5

In [7]:
#Create a function that takes a number as an argument, increments the number by +1 and returns the result.

In [8]:
def increment(a):
    print(a + 1)

In [9]:
increment(0)

1

In [10]:
#Write a function that converts hours into seconds.

In [13]:
def conversion(h):
    s = 3600 * h
    print(s)

In [15]:
conversion(24)

86400

In [16]:
#Two numbers are passed as parameters. The first provider divided by the second parameter will have a remainder, possiby zero. Return that value.

In [17]:
def remainder(a, b):
    c = a % b
    print(c)

In [18]:
remainder(1, 3)

1

In [20]:
remainder(5, 5)

0

In [21]:
#Create a function that finds the maximum range of a triangles third edge.

In [27]:
def thirdEdge(a, b):
    return a + b -1

In [28]:
thirdEdge(8, 10)

17

In [38]:
#Create a function that takes a list and returns the first elemen

In [39]:
def firstElement(l):
    return l[0]

In [40]:
firstElement([1,2,3,4])

1

In [50]:
#Create a function that takes a base number and an exponent number and returns the calculation.

In [51]:
def power(a, b):
    return a**b

In [52]:
power(5, 5)

3125

In [55]:
#You've got chickens (2 legs), cows (4 legs) and pigs (4 legs) on your farm. Return the total number of legs on your farm.

In [59]:
def total(c, co, p):
    t = c*2 + co*4+ p*4
    print(t)

In [60]:
total(2, 3, 5)

36

In [61]:
total(1,2,3)

22

In [62]:
#Write a function that takes two integers (hours, minutes) and converts them to seconds.

In [69]:
def conversion(a, b):
    a = a*3600
    b = b*60
    print(a + b)

In [70]:
conversion(1,3)

3780

In [71]:
conversion(2, 0)

7200

In [72]:
#Write two functions:

#to_int() : A function to convert a string to an integer.
#to_str() : A function to convert an integer to a string.
#examples

In [96]:
def to_int(string):
    return int(string)
    

def to_str(integer):
    return str(integer)

In [97]:
to_int("4")
#to_str(3)

4

In [98]:
to_str(4)

'4'

In [100]:
#Create a function that takes a number as its only argument and returns True if it's less than or equal to zero, otherwise return False.

In [113]:
def num(a):
    if a<= 0:
        return True
    else:
        return False

In [114]:
num(-1)

True

In [109]:
num = lambda a: True if a >= 0 else False

In [110]:
num(-1)

False

In [111]:
num(8)

True

In [117]:
def num(a):
    return True if a <= 0 else False

In [118]:
num(1)

False

In [119]:
num(-1)

True

In [3]:
#Create a function that takes in three arguments (prob, prize, pay) and returns true if prob * prize > pay; otherwise return false.

In [4]:
#A profitable gamble is a game that yields a positive net profit, where net profit is calculated in the following manner: net_outcome = probability_of_winning * prize - cost_of_playing.

In [6]:
def profitableGamble(prob, prize, pay):
    #net_outcome = prob*prize-pay
    a = prob * prize
    if a > pay:
        return True
    else:
        return False

In [7]:
profitableGamble(0.2, 50, 9)

True

In [8]:
profitableGamble(0.9, 1, 2)

False

In [9]:
#Create a function that takes a list of numbers and returns the smallest number in the list.

In [14]:
def smallestNumber(l):
    #l.sort()
    #return l[0]
     return min(l)

In [15]:
smallestNumber([5,3,8,2,216,94,43])

2

In [1]:
#Create a function that takes a list of numbers. Return the largest number in the list.

In [11]:
def num(l):
    #return max(l)
    l.sort()
    return l[-1]

In [12]:
num([4,5,6,3,3,562323,3546,66,3334445556677788,23])

3334445556677788

In [13]:
#Create a function that takes an integer and returns True if it's divisible by 100, otherwise return False.

In [14]:
def checkDivisibility(integer):
    if integer % 100 == 0:
        return True
    else:
        return False

In [15]:
checkDivisibility(12)

False

In [17]:
checkDivisibility(100)

True

In [18]:
#Write a function that returns True if k^k == n for input (n, k).

In [25]:
def func(n, k):
    k2 =k**k
    if k2 == n:
        return True
    else:
        return False

In [26]:
func(4, 2)

True

In [27]:
func(3124, 5)

False

In [28]:
#Create a function that takes a list and returns the difference between the smallest and biggest numbers.

In [58]:
def difference(x):
    #x.sort()
    #return x[0] - x[-1]
    return min(x) - max(x)

In [59]:
difference([10, 4, 1, 4, -10, -50, 32, 21])

-82

In [57]:
difference([44, 32, 86, 19])

-67

In [43]:
l1 = [5, 11, 17, 18, 23]
for i in range(0, len(l1)):
    print(i)

0
1
2
3
4

In [45]:
l1[::]

[5, 11, 17, 18, 23]

In [46]:
sum(l1)

74

In [47]:
s = 1,2,3
sum(s)

6

In [60]:
#Create a function that determines whether or not it's possible to split a pie fairly given these three parameters:

#Total number of slices.
#Number of recipients.
#How many slices each person gets.

In [71]:
#Create a function that takes a name and returns a greeting.

In [76]:
def helloName(name):
    return "hello " + name + "!"

In [77]:
helloName("kulsoom")

'hello kulsoom!'

In [78]:
#Create a function that takes two strings as arguments and return either True or False depending on whether the total number of characters in the first string is equal to the total number of characters in the second string.

In [79]:
def comp(s1, s2):
    if len(s1) == len(s2):
        return True
    else:
        return False

In [80]:
comp("AB", "CD")

True

In [81]:
comp("SDDD", "SS")

False

In [82]:
#Create a function to concatenate two integer lists.

In [97]:
def conc(list1, list2):
    #return list1 + list2
    list1.extend(list2)
    return list1

In [98]:
conc([1,2,3], [4,5,6])

[1, 2, 3, 4, 5, 6]

In [99]:
#Create a function that returns True if a string is empty and False otherwise.
#A string containing only whitespaces " " does not count as empty.

In [100]:
def is_empty(string):
    if string == "":
        return True
    else:
        return False

In [101]:
is_empty("")

True

In [102]:
is_empty(" ")

False

In [103]:
is_empty("hello")

False

In [105]:
#Given two strings, first_name and last_name, return a single string in the format "last, first".

In [108]:
def concat_name(fname, lname):
    return lname + "," + fname

In [109]:
concat_name("kulsoom", "kazmi")

'kazmi,kulsoom'

In [115]:
#Create a function that returns the ASCII value of the passed in character.

In [116]:
def ASCIIvalue(a):
    return ord(a)

In [117]:
ASCIIvalue("A")

65

In [118]:
ASCIIvalue("a")

97

In [1]:
#Create a function that takes in a word and determines whether or not it is plural. A plural word is one that ends in "s".

In [9]:
def is_plural(word):
    if word.endswith('s'):
        return True
    elif word.endswith("es"):
        return True
    else:
        return False

In [10]:
is_plural("changes")

True

In [11]:
is_plural("change")

False

In [12]:
is_plural("grapes")

True

In [13]:
#Create a function that returns True if a string contains any spaces.

In [3]:
def is_space(string):
    if " " in string:
        return True
    else:
        return False

In [4]:
is_space("hello")

False

In [5]:
is_space("hello, world")

True

In [6]:
#Create a function that takes a number (from 1 - 60) and returns a corresponding string of hyphens.

In [30]:
def hyphens(num):
    if num <= 60:
        return num * " _ "

In [31]:
hyphens(7)

' _  _  _  _  _  _  _ '

In [32]:
hyphens(60)

' _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _ '

In [45]:
def has_spaces(txt):
	return txt.find(' ') != -1

In [46]:
has_spaces("")

False

In [47]:
has_spaces("  ")

True

In [49]:
#Write a function that validates whether two strings are identical. Make it case insensitive.

In [57]:
def is_identical(s1, s2):
    #if s1.lower() == s2.lower() and s1.upper() == s2.upper():
    if s1.lower() == s2.lower():
        return True
    else:
        return False

In [58]:
is_identical("hello", "hEllo")

True

In [59]:
is_identical("venom", "VENOM")

True

In [56]:
is_identical("motive", "emotive")

False

In [60]:
is_identical("VENOM", "VENOM")

True

In [63]:
s1 = 'Apple'

s2 = 'Apple'

s3 = 'apple'

# case sensitive equals check
if s1 == s2:
    print('s1 and s2 are equal.')

if s1.__eq__(s2):
    print('s1 and s2 are equal.')

s1 and s2 are equal.
s1 and s2 are equal.

In [68]:
a = 4
b = 4
if a.__eq__(b):
    print("true")

true

In [69]:
s1 = "hello"
s2 = "HELLO"
if s1.casefold() == s2.casefold():
    print("both are equal")

both are equal

In [70]:
#Create a function that takes a list of elements and return the first and last elements as a new list.

In [97]:
def new_list(l):
    nL = []
    nL.append(l[0])
    nL.append(l[-1])
    return nL

In [98]:
new_list([1,2,3])

[1, 3]

In [87]:
def first_last(lst):
	del lst[1:-1]
	return lst

In [88]:
first_last([1,2,3])

[1, 3]

In [103]:
def first_last(lst):
    return [lst[0], lst[-1]]

In [104]:
first_last([1,2,3])

[1, 3]

In [113]:
lst = [1,2,34,4]
print(lst[1:-1])

[2, 34]